# ── Web App ──────────────────────────────────────────────
Flask
gunicorn
numpy
scipy
scikit-learn
pandas
requests

# ── Jupyter Notebooks ────────────────────────
jupyter
nltk
matplotlib
seaborn
wordcloud